.cart {
  position: fixed;
  bottom: 70px;
  margin-left: 90%;
  width: 140px;
  padding: 20px 10px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  border: 1px solid gainsboro;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* box-shadow: 0 0 5px #fc0b0b,
  0 0 5px #fc0b0b;
  animation: shadowcolorChange 4s linear infinite; */
}