.footer_container_section{
  background: gainsboro;
  padding: 40px 0px;
  margin-top: 60px;
}
.footer-content{
  width: 65%;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.brand_address .logo img{
  width: 50%;
}