/* --------Catagory container design--------- */
.categoryView-container {
  width: 100%;
  margin: auto;
}

.category_content {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.card {
  height: 350px;
  width: 290px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow: hidden;
  transition: all .3s;
}
.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card-body {
  height: 280px;
  border: none;
}
.card-footer {
  background: #f2f2f2;
  color: #333333;
  font-size: 16px;
  text-align: center;
  padding: 15px;
  border-top: 1px solid gainsboro;
}

/* -----Mobile Responsive Design----- */
@media only screen and (max-width: 1400px) {
  .category_content {
  grid-template-columns: repeat(3, 1fr);
}
}
@media only screen and (max-width: 1300px) {
  .category_content {
  grid-template-columns: repeat(3, 1fr);
}
}
@media only screen and (max-width: 1200px) {
  .category_content{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1100px) {
  .category_content{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 992px) {
  .category_content{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 892px) {
  .category_content{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .category_content{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  .category_content{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 480px) {
  .category_content{
    grid-template-columns: repeat(1, 1fr);
  }
}



